

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
	margin:0;
}

/*590/930*/
 svg
 {
 	width:90vw;
 	height:57.1vw;
 	margin-left:5vw;
 }
.state{
	/*fill: none;*/
	fill-opacity:.8;
	opacity : 1;
	stroke: #FFF;
	transition: all .2s;
	stroke-width:1px;
}
.state:hover{
	background-color:teal;
	fill: red;
	cursor: pointer;
}

#tooltip {   
	transition: all .2s;
	position: absolute;           
	text-align: center;
	padding: 20px;             
	margin: 10px;
	font: 12px sans-serif;        
	pointer-events: none;  
	z-index:100;       
}
#tooltip h4{
	margin:0;
	font-size:14px;
}
#tooltip{
	background:#333;
	font-size:12px;
	width:auto;
	padding:10px;
	color:rgb(255,255,255);
	opacity:0;
}